<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgBSecbRvomFncD5P-LtizOeW8rAxhTaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>561194548673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mentorbridge.mentorbridge</string>
	<key>PROJECT_ID</key>
	<string>mentorbridge-8f0e9</string>
	<key>STORAGE_BUCKET</key>
	<string>mentorbridge-8f0e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561194548673:ios:d0b2cf9bd70f94296dc340</string>
</dict>
</plist>